* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: green;
  padding: 20px;
}

.servicios {
  background: rgb(122, 90, 63);
}

footer {
  background: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  display: flex;
  list-style: none;
}

footer ul li {
  margin-left: 20px;
}

footer ul li a {
  color: rgb(194, 11, 211);
  font-size: 18px;
  text-decoration: none;
}
